@import url('https://liaozhe1228.github.io/alzen代码.css');
/* Reference block heading */
a {
    color: #131414!important;

}
a:hover {
    color: #C10626 !important;
}
*[style*="background-color: white"] {
    background-color: #fff !important;
}

.bp3-popover .bp3-menu, .bp3-popover .bp3-popover-content {
    pointer-events: auto;
    background-color: #ffffff !important;
}




}


/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');	


/* CHANGE COLOURS IN CANVAS */
canvas[data-id="layer2-node"] {	
    filter: invert(1) hue-rotate(110deg) saturate(2.5);	
}


#roam-right-sidebar-content > * {
    margin: 0px 0px 0 10px !important;
    overflow-x: hidden;
    /*overflow-y: auto !important;*/
    max-height: 100vh;
    padding: 50px 0px 20px 0px;
    
    /* pesky bottom border/outline in chrome won't go away! */
    /* this does not fix it */
    border: none !important;
    outline: none !important;
}
#roam-right-sidebar-content > * {
    margin: 0px 0px 0 10px !important;
    overflow-x: hidden;
    /* overflow-y: auto !important; */
    max-height: 100vh;
    padding: 50px 0px 70px 0px;
    border: none !important;
    outline: none !important;
}
/* BUTTON */
.block-bullet-view .bp3-button:not([class*="bp3-icon"]) {
    background: transparent !important;
    color: rgb(var(--color-primary)) !important;
    line-height: 2em;
    font-weight: 600;
    border-radius: 2em !important;
    border: 0px solid rgba(var(--color-primary), 0.5) !important;
    box-shadow: none !important;
}
.block-bullet-view .bp3-button:hover {
    background: rgba(var(--color-primary), 0.2) !important;
}
.bp3-button.bp3-small, .bp3-small .bp3-button {
    min-height: 14px;
    min-width: 4px;
    padding: 0 7px;
}

.block-bullet-view .bp3-button:not([class*="bp3-icon"]) {
    padding: 1px 3px 1px 3px!important;
}

