@import url('https://LiaoZhe1228.github.io/css-Alzen-modified.css');
.starred-pages > a > .page:hover {
    background-color: rgba(187,104,104,0.63) !important;
    color: rgba(19,132,83,0.63)(var(--primary-color)) !important;
}
.log-button * {
    /* this did not do what I expected */
    /* but it accomplished what I wanted */
    color: rgba(16,43,31,0.63)(var(--primary-color)) !important;
}
.log-button {
    background: none !important;
}
.log-button:hover, .log-button:hover * {
    color: var(--text-color) !important;
}
#roam-right-sidebar-content > * > div {
    background: #f9f9f9;
}


