@import url('https://LiaoZhe1228.github.io/css-Alzen-modified.css');
.starred-pages > a > .page:hover {
    background-color: rgba(187,104,104,0.63) !important;
    color: rgba(19,132,83,0.63)(var(--primary-color)) !important;
}
.log-button * {
    /* this did not do what I expected */
    /* but it accomplished what I wanted */
    color: rgba(16,43,31,0.63)(var(--primary-color)) !important;
}
.log-button {
    background: none !important;
}
.log-button:hover, .log-button:hover * {
    color: var(--text-color) !important;
}
#roam-right-sidebar-content > * > div {
    background: #f9f9f9;
}
.rm-level1 div, .rm-level1 textarea {
font-family:"微软雅黑", Times, serif !important;
    font-size: 18px !important;
    font-weight:bold !important;
    color: #101010!important;
    line-height: 1.5 !important;
    text-shadow: 0px 1px 1px #7F7D7D;
}



/* 新改的，忘记作用了*/
.rm-alias-block, .rm-alias-block:hover {
    color: #464748!important;
    font-weight:normal;
	border-bottom:1.3px dashed;
}
.rm-alias-external, .rm-alias-external:hover {
    color: #141515!important;
    font-weight:normal;
	border-bottom:1.3px solid;
}



.roam-block {
min-height: calc(1.5em + 1px);
}

